.reveal {
  animation-name: flip;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
}

@keyframes flip {
  0% {
    transform: rotateX(45deg);
  }

  25% {
    transform: rotateX(90deg);
  }
}

.press {
  animation-name: press;
  animation-duration: 100ms;
  animation-timing-function: ease;
  border: 2px solid #666;
}

@keyframes press {
  0% {
    opacity: 0.8;
    border: 2px solid #333;
    transfrom: scale(0.85);
  }

  50% {
    opacity: 0.9;
    border: 2px solid #555;
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    border: 2px solid #666;
    transform: scale(1);
  }
}
