.container {
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
}

.small {
  font-style: italic;
  font-weight: 100;
  font-size: 14px;
  text-transform: lowercase;
}

.divider {
  border: 1px solid #777;
}

.gridWrapper {
  margin: 20px 0;
}

.row {
  display: flex;
  justify-content: center;
}

.cell {
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  height: calc(100vh / 15);
  max-height: 70px;
  width: 60px;
  font-size: 32px;
  border: 2px solid #3a3a3c;
}

.keyboard {
  width: 100%;
  max-width: 720px;
  margin: 0 auto 30px auto;
}

.keyboard > div:nth-child(2) {
  width: 90%;
}
