.container {
  text-align: center;
}

.small {
  font-style: italic;
  font-weight: 100;
  font-size: 14px;
  text-transform: lowercase;
}

.divider {
  border: 1px solid #777;
}

.gridWrapper {
  margin: 40px 0;
}

.row {
  display: flex;
  justify-content: center;
}

.cell {
  margin: 4px;
  height: 80px;
  width: 70px;
  font-size: 60px;
  line-height: 75px;
  border: 2px solid #3a3a3c;
}

.keyboard {
  width: 95%;
  margin: 0 auto;
}
